body {
  font: "Raleway", sans-serif;
  font-size: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  top: 20%;
  background: linear-gradient(to right, rgb(0, 221, 255), purple);
}
h1 {
  font: 600 3.5em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  width: 100%;
  margin-top: 5%;
}

h2 {
  font: 900 2em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.2em;
}
